@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

/* Basic Styles */
html{
  font-size:10px;
}
*{
  box-sizing:border-box;
  margin:0;
  padding:0;
  font-family:'Do Hyeon', sans-serif;
}
.invisible{
  display:none;
}

/* Slider */
.slide-container{
  width:80vw;
  margin:auto;
  margin-top:10rem;

  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.slide{
  position: relative;
}


/* Slide images */
.slideImg{
  width:100%;
  height:400px;
  object-fit: cover;
  border-radius:10px;
  box-shadow: 0 2px 20px rgba(0,0,0,0.25);
  transition:0.2s ease-in-out;
}
.slideImg:hover{
  box-shadow:0 2px 20px rgba(0,0,0,0.5);
}

/* Numbers */
.slide h1{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  color:#fff;
  font-size:10rem;
}

/* Slide Buttons */
.buttons{
  margin-top:2rem;
}
.buttons > button{
  margin:0 2rem;
  background:none;
  border:none;
  font-size:3rem;
  color:#283f8b;
  cursor: pointer;
  outline:none;
}

button:hover{
  opacity:0.9;
}

/* Media Queries */
@media(max-width:700px){
  .slide-container{
    width:90vw;
    margin-top:5rem;
  }
}